services:
  mex-backend:
    build:
      context: .
    ports:
      - 8080:8080
    environment:
      - MEX_GRAPH_URL=neo4j://neo4j:7687
      - MEX_BACKEND_VALKEY_URL=valkey://valkey:6379
    expose:
      - 8080
    healthcheck:
      test: [ "CMD", "curl", "http://0.0.0.0:8080/v0/_system/check" ]
      interval: 60s
      timeout: 5s
      retries: 5
  neo4j:
    image: neo4j:2025.12-community
    environment:
      - NEO4J_AUTH=neo4j/password
      - NEO4J_dbms_usage__report_enabled=false
    expose:
      - 7687
  valkey:
    image: valkey/valkey:9.0.2
    expose:
      - 6379
